@charset "ISO-8859-1";

:root{
	--woodulike-green:#42f4a4;
	--woodulike-brown:#ad5a5a;
	--home-carousel-height:700px;
	--home-carousel-width:1400px;
}

.page-footer{
	background-color: var(--woodulike-green);
}

h1{
	color:#42f4a4;
}

.navbar-brand{
	font-size:150%;
}

.navbar-brand:hover{
	color:var(--woodulike-green);
	font-size:190%;
}

.navbar-brand:focus{
	color:var(--woodulike-brown);
	background-color:var(--woodulike-green);
	font-size:190%;
}


.navbar{
	background-color:var(--woodulike-brown);
}


.navbar a{
	color: whitesmoke;
}

.navbar a:hover:not(.disabled):not(.navbar-brand) {
	color:var(--woodulike-green);
	font-size: 130%;
}

.navbar a:focus:not(.disabled):not(.navbar-brand) {
	color:var(--woodulike-brown);
	background-color:var(--woodulike-green);
	font-size: 130%;
}

.dropdown-menu{
	background-color:var(--woodulike-brown);
}

.dropdown-menu a:hover:not(.disabled) {
	background-color:var(--woodulike-brown);
}

.dropdown-menu a:focus:not(.disabled) {
	color:var(--woodulike-brown);
	background-color:var(--woodulike-green);
	font-size: 130%;
}

/*#home-carousel img{*/
	/*height: 100%;*/
	/*width: 100%;*/
	/*object-fit:contain;*/
/*}*/

/*.carousel-item{*/
	/*height: 400px;*/
	/*width:800px;*/
/*}*/

/*.row {*/
	/*border: 2px solid red;*/
/*}*/

/*.col {*/
	/*border: 1px solid blue;*/
/*}*/

/*.container {*/
	/*border: 3px solid orange;*/
/*}*/

/*.carousel-inner{*/
	/*border: 1px solid purple;*/
	/*margin: 0 auto;*/
/*}*/

/*.carousel-item {*/
	/*border: 1px solid green;*/
	/*margin: 0 auto;*/
/*}*/

/*.carousel-item img {*/
	/*border: 1px solid green;*/
/*}*/

#homeCarousel{
	width:var(--home-carousel-width);
	margin: 0 auto;"
}

.carousel-item{
	 height: var(--home-carousel-height);
 }

.carousel-item img{
	width: var(--home-carousel-width);
	height: var(--home-carousel-height);
	object-fit: contain;
}

#collapsedMenuIcon{
	color: var(--woodulike-green);
	font-size: 1.5em;
	text-shadow: 2px 2px 2px saddlebrown;
}

/*Removes border on collapsed menu icon on click*/
button.navbar-toggler:focus { outline: 1px none; }
